<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tj2.myapplication">
    <application
        android:allowBackup="true"
        android:label="Tikanheiton pistelasku"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:icon="@mipmap/reddarts">
        <activity android:name=".Menu"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Calculator"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".BattleCreation"
            android:label="LUO KISA"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Battle"
            android:label="KILPAILU - 25 TIKKAA"
            android:screenOrientation="portrait">
        </activity>
     <!--   <activity android:name=".TopScores"
            android:label="TOP 10"
            android:screenOrientation="portrait">
        </activity>-->
    </application>
</manifest>